@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --r-heading-text-transform: normal !important;
  --background: #ffffff;
  --foreground: #171717;

  --r-main-font: #{var(--font-sans)} !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
